
<h1>Hello, <%= @name %></h1>
<p> The time right now is <%= @time %>EST </p>
<p> This page has been displayed <%= formatted_time(@time) %> </p>

<p> <%= link_to "Google", "https://cnbc.com" %> </p>
<p> <%= link_to "welcome", welcome_index_path %> </p>

<p>Find me in app/views/welcome/index.html.erb</p>
